services:
  caddy:
    image: caddy:latest
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
      - ./caddy/cert.pem:/etc/caddy/cert.pem
      - ./caddy/key.pem:/etc/caddy/key.pem
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - client
      - server
  client:
    build:
      dockerfile: ./apps/client/Dockerfile.local
      context: ./
    environment:
      - VITE_API_URL=https://server.breakout.local
    volumes:
      - .:/app
      - pnpm-store:/app/.pnpm-store
      - node_modules:/app/node_modules
  server:
    build:
      dockerfile: ./apps/server/Dockerfile.local
      context: ./
    volumes:
      - .:/app
      - pnpm-store2:/app/.pnpm-store
      - node_modules2:/app/node_modules
    depends_on:
      - redis
  redis:
    image: redis:latest

volumes:
  caddy_data:
  caddy_config:
  pnpm-store:
  node_modules:
  pnpm-store2:
  node_modules2:
